html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
* {
    list-style-type: none;
}
p {
    margin: 0px;
}
@font-face {
    font-family: "pacifico";
    src: url("D:\\getCherry\\assets\\Pacifico.ttf")
}
@font-face {
    font-family: "slick";
    src: url("../libs/slick/slick/fonts/slick.woff")
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
body {
    font-family: 'Roboto';
    font-size: 100%;
    overflow: hidden;
}
header {
    height: 60px;
    position: fixed;
    z-index: 20;
    /*background-color: rgba(74, 73, 73, 0.41);*/
    width: 100%;
    top: 0;
    color: black;
}
nav {
    height: 100%;
}
.downloadImg {
    max-height: 50px;
}
#brand {
    top: 22%;
    position: relative;
    z-index: 10;
    /*width: 60%;
    margin: auto;*/
}
#text {
    padding-top: 20px;
    /*margin-left: 330px;*/
    position: absolute;
    left: calc(25% + 350px);
}
. #detail {
    margin-top: 30px;
}
.detailText {
    color: white;
    line-height: 2em;
    font-weight: 200;
}
#scrollDownContainer {
    z-index: 20;
    position: fixed;
    width: 100%;
    bottom: 30px;
}
#scrollDownElement {
    position: relative;
    height: 2em;
    background-color: transparent;
}
section {
    height: 100%;
    width: 100%;
}
.feature-wrapper {
    width: 100%;
    height: 50%;
    display: block;
    position: relative;
}
.mobile-section {
    height: 80%;
    width: 80%;
    position: relative;
    max-width: 760px;
    display: table;
    margin: auto;
    top: 10%;
}
.mobile {
    width: 50%;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}
.iphone {
    background: url(../assets/images/iphone-other.png) no-repeat;
    max-width: 380px;
    min-height: 640px;
    height: 640px;
    margin: auto;
    background-size: 100%;
}
footer {
    position: relative;
    ;
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.54);
    text-align: center;
}
.downloadHeader {
    position: fixed;
    right: 50px;
    width: 300px;
    height: 60px;
    border: solid 1px black;
}
.sectionScroller {
    height: calc(100% - 2px);
}
#header-content {
    width: 80%;
    height: 60px;
    position: relative;
    margin: auto;
    display: table;
    vertical-align: middle;
}
.header-title {
    display: table-cell;
    ;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: 200px;
    height: 60px;
}
.inner-scroll-feature {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
	background: rgba(0, 0, 0, 0.37);
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
}
.inner-scroll-feature p {
    font-size: 2em;
    font-weight: 300;
    line-height: 2;
    position: absolute;

    left: 50%;
    top: 50%;
    color: white;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 768px;
    text-align: center;
}
. #main-container {
    height: 100%;
}

/*http://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers*/

.dots-wrapper {
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 15%;
}
.dots-wrapper li {
    width: 54px;
    background: red;
    height: 10px;
    display: inline-block;
}
.custom-dots {}
ul.slick-dots {
    display: none;
    height: 10px;
    visibility: hidden;
}
.foo {
    height: 10px;
    width: 10px;
    background: firebrick;
    z-index: 100000000;
}
.scroll-icon {
    position: absolute;
    left: 50%;
    cursor: pointer;
    text-align: center;
    bottom: 30px;
    padding: 0 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.icon-up-open-big:after {
    font-size: 2.5em;
    display: block;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    color: black;
    -webkit-transition: color .3s;
    transition: color .3s;
}
.fp-tableCell {
    text-align: center;
    display: table-cell;
}

/*http://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers*/

.outer {
    display: table;
    position: absolute;
    height: 100%;
    z-index: 10000;
    width: 100%;
}
.middle {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 220px;
    background: url('../assets/images/cherry-screen-5.png');
    background-position: 0 0;
    background-size: contain;
    ;
}
.circle {
    opacity: inherit;
    width: 15px;
    height: 15px;
    position: relative;
    ;
    ;
    margin: 0px;
    background: rgba(255, 103, 0, 0);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#7fff6700", endColorstr="#7fff6700")\9;
    border-radius: 50%;
    /*     -webkit-transition: .8s all ease-out;
     transition: .8s all ease-out; */
    filter: alpha(opacity=0)\9;
    top: 31px;
    margin: 0px;
}
.circle-1 {
    float: right;
    top: 33px;
}
.circle-3 {
    float: left;
    top: 33px;
}
.border-line {
    opacity: inherit;
    width: 85px;
    border-top: 2px solid #ff6700;
    position: relative;
    ;
    top: 40px;
    /*   -webkit-transition: .8s all ease-out;
     transition: .8s all ease-out; */
    filter: alpha(opacity=0)\9;
}
.border-line-1 {
    float: right;
}
.border-line-3 {
    float: left;
}
.info {
    position: absolute;
    transition: all 3s;
    top: 100px;
    opacity: 0;
    display: none;
    height: 120px;
    width: 440px;
}
.active {
    top: 0px;
    opacity: 1;
}
.info-3 {
    left: 70%;
}
.info-4 {
    left: 70%;
}
.info-1 {
    display: block;
    left: -85%;
    -vendor-animation-duration: 1s;
}
.info-2 {
    -vendor-animation-duration: 0.2s;
    left: -85%;
}
.circle-text {
    position: relative;
    ;
    bottom: -49px;
    font-size: 18px;
    color: #212121;
    text-align: center;
    /*  -webkit-transition: .8s all ease-out;
    transition: .8s all ease-out; */
    filter: alpha(opacity=0)\9;
}
.feat {
    opacity: inherit;
    font-size: 30px;
    position: relative;
    width: 300px;
    height: 100px;
    z-index: 1000;
}
#feat-1 {
    left: 0px;
    top: 0px;
    text-align: right;
    float: left;
}
#feat-2 {
    left: 0px;
    top: 0px;
    text-align: right;
    float: left;
}
#feat-3 {
    text-align: left;
    right: 0px;
    top: 0px;
    float: right;
}
#feat-4 {
    text-align: left;
    right: 0px;
    top: 0px;
    float: right;
}
.feat-sml-text {
    font-size: 16px;
    padding: 5px;
    text-align: right;
}
.feat-title-text {
    text-align: center;
    padding: 5px;
    text-align: right;
}
.feat-sml-text-left {
    font-size: 16px;
    padding: 5px;
    text-align: left;
    ;
}
.feat-title-text-left {
    text-align: center;
    padding: 5px;
    text-align: left;
}
.circle .sml-circle {
    opacity: inherit;
    width: 10px;
    height: 10px;
    position: relative;
    left: 0px;
    top: 3px;
    background: #ff6700;
    border-radius: 50%;
}
.circle .sml-circle-left {
    opacity: inherit;
    width: 10px;
    height: 10px;
    position: relative;
    left: 5px;
    top: 3px;
    background: #ff6700;
    border-radius: 50%;
}
.fp-slidesNav {
    position: relative;
    width: 240px;
    z-index: 4;
    /* left: 50%; */
    opacity: 1;
    margin: auto;
}
.fp-slidesNav ul {
    margin: 0;
    padding: 0;
    /* bottom: 100px; */
}
.fp-slidesNav ul li {
    display: block;
    width: 60px;
    height: 2px;
    margin: 7px;
    position: relative;
}
.fp-slidesNav ul li {
    display: inline-block;
    margin: 0px;
}
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #3C4FFB;
    /* left: 50%; */
    /* top: 50%; */
    margin: -2px 0 0 -2px;
    height: 2px;
    width: 60px;
    margin: -6px 0 0 -6px;
    border-radius: 0;
    margin: 0px;
    transition: all ease-in 0.3s;
    /* -webkit-transition: all .1s ease-in-out; */
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    /* transition: all .1s ease-in-out; */
}
.fp-slidesNav ul li:hover a.active span {
    height: 10px;
    width: 60px;
    margin: -6px 0 0 -6px;
    border-radius: 0;
    margin: 0px;
    transition: all ease-in 0.3s;
}
.fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    height: 10px;
    width: 60px;
    border-radius: 0;
    margin: 0px;
    /* margin: -6px 0 0 -6px; */
    /* border-radius: 100%; */
}
.fp-slidesNav {
    left: 49%;
}
.fp-slidesNav.bottom {
    position: absolute;
    bottom: 100px;
}
.app-links {
    width: 130px;
    padding-right: 10px;
    float: right;
    height: 60px;
    display: table-cell;
}
.app-anchor {
    text-align: left;
    width: 130px;
    background-color: transparent display: inline-block;
    border-radius: 5px;
    position: relative;
    transition-property: background-color;
    transition-duration: 400ms;
}
.app-anchor img {
    height: 100%;
    width: 100%;
    object-fit: contain;
	transition: all ease-out 0.3s;
}

.app-anchor img:hover {
transform: scale(1.2);
}
.app-link {
    width: 150px;
    height: 100%;
    float: right;
    display: table;
    background: transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    vertical-align: middle;
    margin-right: 10px;
    background: blue;
}
.footer-company-title {
    float: left;
    font-size: 12px;
    display: table-cell;
    color: #333;
    margin-left: 10px;
    line-height: 50px;
    font-weight: 600;
}
.footer-company-title a {
    text-decoration: none;
    outline: none;
    color: #fff;
}
.brand {
    height: 90%;
}
.company-link {
    float: left;
    color: white;
}
.footer-content {
    position: relative;
    width: 80%;
    height: 100%;
    display: table;
    vertical-align: middle;
    margin: auto;
    background: transparent;
    text-align: center;
}
.social-list {
    float: right;
    width: 50%;
    text-align: right;
    padding: 0px;
}
.social-icons {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: white;
    margin-right: 10px;
}
.social-extra {
    display: inline-block;
    font-size: 12px;
    height: 100%;
    color: #fff;
    margin-right: 10px;
}
#it-works {
    top: 100px;
    text-align: center;
    font-size: 50px;
    position: relative;
    width: 100%;
    margin: auto;
    font-weight: 300;
}
.store-image {
    height: 80%;
    background: yellow;
    display: table-cell;
}
@media (min-width: 1000px) {
    @media (max-height: 800px) {
        .fp-slidesNav.bottom {
            bottom: 50px;
        }
    }
}
@media (max-width: 1000px) {
    .header-title {
        width: 150px;
    }
    .social-extra {
        display: none;
    }
    .app-anchor {
        text-align: left;
        width: 130px;
        background-color: transparent display: inline-block;
        border-radius: 5px;
        position: relative;
        transition-property: background-color;
        transition-duration: 400ms;
    }
    .feat {
        font-size: 23px;
    }
    .feat-sml-text, .feat-sml-text-left {
        font-size: 14px;
    }
    .inner {
        height: 320px;
        width: 175px;
    }
    @media (orientation: landscape) {
        .test-mobile {
            top: 14%;
        }
        .fp-slidesNav.bottom {
            bottom: 30px;
            margin-left: -130px;
        }
    }
}
@media (max-width:600px) {
    #header-content {
        width: 96%;
    }
    #fp-nav.right {
        right: 10px;
    }
    .inner-scroll-feature p {
        font-size: 20px;
    }
    .header-title {
        width: 120px;
    }
    #it-works {
        font-size: 20px;
        position: absolute;
        top: 70px;
    }
    footer {
        height: 30px;
    }
    .footer-company-title {
        line-height: 30px;
        font-size: 10px;
    }
    .social-list {
        height: 30px;
        line-height: 30px;
        margin: 0px;
    }
    .inner {
        height: 280px;
        width: 160px;
    }
    .fp-slidesNav.bottom {
        position: absolute;
        bottom: 50px;
    }
    .footer-content {
        width: 96%;
    }
    .social-list {
        width: 100px;
    }
    .app-links {
        width: 130px;
        height: 60px;
        display: table-cell;
    }
    .app-anchor {
        text-align: left;
        width: 70px;
        background-color: transparent display: inline-block;
        border-radius: 5px;
        position: relative;
        transition-property: background-color;
        transition-duration: 400ms;
    }
}
.count {
    font-size: 40px;
}
