html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
* {
    list-style-type: none;
    font-family: 'Roboto';
}
a {
    color: inherit;
    outline: none;
    text-decoration: none;
}
a:hover {
    color: #333;
}
p {
    margin: 0px;
}
@font-face {
    font-family: "pacifico";
    src: url("D:\\getCherry\\assets\\Pacifico.ttf")
}
@font-face {
    font-family: "slick";
    src: url("../libs/slick/slick/fonts/slick.woff")
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
body {
    font-family: 'Roboto';
    font-size: 100%;
    overflow: hidden;
}
header {
    height: 60px;
    position: fixed;
    z-index: 20;
    /*background-color: rgba(74, 73, 73, 0.41);*/
    width: 100%;
    top: 0;
    color: black;
}
nav {
    height: 100%;
    padding: 10px;
}
.downloadImg {
    max-height: 50px;
}
#brand {
    position: relative;
    z-index: 10;
    display: table-cell;
    vertical-align: middle;
    /*width: 60%;
    margin: auto;*/
}
#text {
    padding-top: 20px;
    /*margin-left: 330px;*/
    position: absolute;
    left: calc(25% + 350px);
}
. #detail {
    margin-top: 30px;
}
.detailText {
    color: white;
    line-height: 2em;
    font-weight: 200;
}
#scrollDownContainer {
    z-index: 20;
    position: fixed;
    width: 100%;
    bottom: 30px;
}
#scrollDownElement {
    position: relative;
    height: 30px;
    background-color: transparent;
    transition: all ease-in 0.6s;
}
section {
    height: 100%;
    width: 100%;
}
.feature-wrapper {
    width: 100%;
    height: 50%;
    display: block;
    position: relative;
}
.mobile-section {
    height: 83%;
    width: 80%;
    position: relative;
    max-width: 760px;
    display: table;
    margin: auto;
    top: 10%;
    transition: all cubic-bezier(0.42, 0, 0, 0.44) 0.8s;
    transition-delay: 0.2s;
    transform: translateY(300px);
}
.mobile {
    width: 50%;
    margin: auto;
    display: block;
    position: relative;
    top: 100px;
    height: 80%;
}
.feedback-success {
	transition: all ease-in 0.5s;
	opacity: 0;
	display: none;
	padding: 10px;
}
.iphone {
    background: url(../assets/images/phone-01.png) no-repeat;
    background-position: 50% 0%;
    max-width: 380px;
    min-height: 400px;
    height: 100%;
    margin: auto;
    background-size: 87%;
    transition: all ease-in 0.5s;
    opacity: 0.2;
}
.active .iphone {
    opacity: 1;
}
footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    color: #fff;
    background: transparent;
    text-align: center;
}
.downloadHeader {
    position: fixed;
    right: 50px;
    width: 300px;
    height: 60px;
    border: solid 1px black;
}
.sectionScroller {
    height: calc(100% - 2px);
}
#header-content {
    width: 80%;
    height: 60px;
    position: relative;
    margin: auto;
    display: table;
    vertical-align: middle;
}
.header-title {
    display: table-cell;
    ;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: 200px;
    height: 60px;
}
.inner-scroll-feature {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.37);
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
}
.inner-scroll-feature p {
    font-size: 2em;
    font-weight: 300;
    line-height: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 768px;
    text-align: center;
}
. #main-container {
    height: 100%;
}

/*http://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers*/

.dots-wrapper {
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 15%;
}
.dots-wrapper li {
    width: 54px;
    background: red;
    height: 10px;
    display: inline-block;
}
.custom-dots {}
ul.slick-dots {
    display: none;
    height: 10px;
    visibility: hidden;
}
.foo {
    height: 10px;
    width: 10px;
    background: firebrick;
    z-index: 100000000;
}
.scroll-icon {
    position: absolute;
    left: 50%;
    cursor: pointer;
    text-align: center;
    bottom: 5px;
    padding: 0 10px;
    z-index: 10000;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.icon-up-open-big:after {
    font-size: 2.5em;
    display: block;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    color: black;
    -webkit-transition: color .3s;
    transition: color .3s;
}
.fp-tableCell {
    text-align: center;
    display: table-cell;
}

/*http://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers*/

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
.circle {
    opacity: inherit;
    width: 15px;
    height: 15px;
    position: relative;
    ;
    ;
    margin: 0px;
    background: rgba(255, 103, 0, 0);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#7fff6700", endColorstr="#7fff6700")\9;
    border-radius: 50%;
    /*     -webkit-transition: .8s all ease-out;
     transition: .8s all ease-out; */
    filter: alpha(opacity=0)\9;
    top: 31px;
    margin: 0px;
}
.circle-1 {
    float: right;
    top: 33px;
}
.circle-3 {
    float: left;
    top: 33px;
}
.border-line {
    opacity: inherit;
    width: 85px;
    border-top: 1px solid #ff6700;
    position: relative;
    ;
    top: 40px;
    /*   -webkit-transition: .8s all ease-out;
     transition: .8s all ease-out; */
    filter: alpha(opacity=0)\9;
}
.border-line-1 {
    float: right;
}
.border-line-3 {
    float: left;
}
.info {
    position: absolute;
    transition: all 3s;
    top: 80px;
    opacity: 0;
    display: none;
    height: 120px;
    width: 440px;
}
.active {
    top: 0px;
    opacity: 1;
}
.info-3 {
    left: 70%;
}
.info-4 {
    left: 70%;
}
.info-1 {
    display: block;
    left: -85%;
    -vendor-animation-duration: 1s;
}
.info-2 {
    -vendor-animation-duration: 0.2s;
    left: -85%;
}
.circle-text {
    position: relative;
    ;
    bottom: -49px;
    font-size: 18px;
    color: #212121;
    text-align: center;
    /*  -webkit-transition: .8s all ease-out;
    transition: .8s all ease-out; */
    filter: alpha(opacity=0)\9;
}
.feat {
    opacity: inherit;
    font-size: 24px;
    position: relative;
    width: 300px;
    height: 100px;
    z-index: 1000;
}
#feat-1 {
    left: 0px;
    top: 0px;
    text-align: right;
    float: left;
}
#feat-2 {
    left: 0px;
    top: 0px;
    text-align: right;
    float: left;
}
#feat-3 {
    text-align: left;
    right: 0px;
    top: 0px;
    float: right;
}
#feat-4 {
    text-align: left;
    right: 0px;
    top: 0px;
    float: right;
}
.feat-sml-text {
    font-size: 14px;
    padding: 5px;
    text-align: right;
}
.feat-title-text {
    text-align: center;
    padding: 5px;
    text-align: right;
}
.feat-sml-text-left {
    font-size: 14px;
    padding: 5px;
    font-weight: 300;
    word-spacing: 2px;
    text-align: left;
    ;
}
.feat-title-text-left {
    text-align: center;
    padding: 5px;
    text-align: left;
}
.circle .sml-circle {
    opacity: inherit;
    width: 10px;
    height: 10px;
    position: relative;
    left: 0px;
    top: 3px;
    background: #ff6700;
    border-radius: 50%;
}
.circle .sml-circle-left {
    opacity: inherit;
    width: 10px;
    height: 10px;
    position: relative;
    left: 5px;
    top: 3px;
    background: #ff6700;
    border-radius: 50%;
}
.fp-slidesNav.bottom {
    opacity: 0;
    display: block;
    transition: all ease-in 0.8s;
    /* opacity: 1; */
}
.app-links {
    width: 300px;
    padding-right: 10px;
    float: right;
    height: 60px;
    display: table-cell;
}
.app-store {
    margin-right: 20px;
}
.header-links {
    width: 350px;
    margin: 0px;
    padding: 0px;
    float: right;
    margin-top: 10px;
}
.header-links li {
    display: inline;
}
.link-img {
    width: 150px;
    transition: all ease-out 0.3s;
}
.app-anchor img:hover {
    transform: scale(1.2);
}
.app-link {
    width: 150px;
    height: 100%;
    float: right;
    display: table;
    background: transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    vertical-align: middle;
    margin-right: 10px;
    background: blue;
}
.footer-company-title {
    float: left;
    font-size: 12px;
    display: table-cell;
    color: inherit;
    margin-left: 10px;
    line-height: 50px;
    font-weight: 300;
}
.footer-company-title a {
    text-decoration: none;
    outline: none;
    color: inherit;
    font-weight: 300;
}
.brand {
    height: 90%;
}
.company-link {
    float: left;
    color: white;
}
.footer-content {
    position: relative;
    width: 80%;
    height: 100%;
    display: table;
    vertical-align: middle;
    margin: auto;
    background: transparent;
    text-align: center;
}
.social-list {
    right: 0px;
    width: 400px;
    height: 50px;
    text-align: right;
    padding: 0px;
    display: table-cell;
    margin: 0px;
    vertical-align: middle;
}
.social-icons {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.social-extra {
    display: table-cell;
    font-size: 12px;
    font-weight: 400;
    padding-right: 20px;
    color: inherit;
    vertical-align: middle;
}
.social-extra img {
    height: 38%;
}
#it-works {
    color: #333;
    text-align: center;
    font-size: 50px;
    position: absolute;
    width: 100%;
    margin: auto;
    font-weight: 300;
}
.center {
    width: 600px;
    height: 20px;
    position: relative;
    margin: auto;
}
.custom-nav-horizontal {
    display: none;
    width: 100%;
    z-index: 100;
    margin: auto;
    position: absolute;
    height: 20px;
    bottom: 0px;
    transition: all ease-in 0.3s;
}
.graphics-container {
    height: 80%;
    margin: 150px;
    margin-bottom: 150px;
}
.active .custom-nav-horizontal {
    display: block;
}
.fp-tableCell {
    background: rgba(0, 0, 0, 0);
    height: 400px;
}
#feature-7 .fp-tableCell {
    background: rgba(25, 228, 92, 0.5);
}
.fp-slides {
    display: none;
    height: 400px;
    background: red
}
#scroll-img {
    transition: all ease-in 0.4s;
    height: 35px;
    /*-moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite; */
}
.up {
    transform: rotate(180deg);
}
.central {
    opacity: 0;
    font-size: 25px;
    color: #fff;
    font-size: 2.3em;
    font-weight: 300;
    line-height: 1.4;
    transition: all cubic-bezier(0.42, 0, 0, 0.44) 0.8s;
    transition-delay: 0.2s;
    transform: translateY(300px);
    width: 80%;
    margin: auto;
    max-width: 950px;
    /*text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.22), 3px 3px 0px rgba(0, 0, 0, 0.2), 4px 4px 28px rgba(0, 0, 0, 0.5);*/
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.22), 3px 3px 6px rgba(0, 0, 0, 0.3), 4px 4px 28px rgba(0, 0, 0, 0.5);
}
.active .central {}
.cool-text {
    transform: scale(1);
    opacity: 1;
    transform: translateY(0px);
}
.central b {
    font-family: 'Roboto Slab';
}
.integers {
    font-size: 100px;
    font-weight: 100;
    color: rgba(12, 62, 142, 0.87);
    opacity: 1;
    width: 100%;
}
.graphic-div {
    display: table-cell;
    vertical-align: middle;
    opacity: 1;
}
.active .graphic-div {
    opacity: 1;
}
.graphic-text {
    font-size: 15px;
    font-weight: 300;
    color: #3E3838;
}
.graphic-li {
    text-align: center;
    display: inline-block;
    background: inherit;
}
.info-graphics {
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    position: relative;
    background: transparent;
}
.form {
    height: 450px;
    width: 300px;
    position: relative;
    background: blue;
    margin: auto;
    box-shadow: 10px 10px 10px 10p
}
.container span {
    font-size: 15px;
    color: #fff;
}
.bar {
    margin: 0;
    border: none;
    padding: 0;
    height: 1px;
    background: #1A92F2;
    width: 100%;
    position: absolute;
    top: 10px;
    display: inline-block;
}
.bar-slider {
    background: #1A92F2;
    height: 6px;
    position: relative;
    width: 24%;
    transition: all ease-out 0.6s;
    position: absolute;
    top: 7px;
    transform: translateX(2px);
}
.contact {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    padding: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #4E544E;
    transition: all ease-in 0.3s;
    font-size: 18px;
    color: #5B6B5B;
    margin: 0px;
    font-family: 'Roboto';
	font-size: 16px;
    font-weight: 300;
}
.contact:focus {

}

#fi-2 {

    padding-top: 5px;

    border-radius: 3px;
}

#fi-2:invalid {
	border-color: red;
}

#fi-1 {
	margin-bottom: 45px;
}
#fi-1:invalid {
	border-color: red;
}

#fp-nav.right {
    right: 5px;
}


#fp-nav ul li {
    margin: 22px;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span {
    height: 6px;
    width: 6px;
    margin: -2px 0 0 -2px;
    border-radius: 100%;
    background: #fff;
}
#fp-nav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 6px;
    width: 6px;
    border: 1px solid #fff;
    background: transparent;
    left: 50%;
    transform: scale(1.2);
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
footer.dark-theme {
    color: #333;
}
footer.rock-bottom {
    background: #0C0B0B;
}
.submit {
    border: none;
    outline: none;
    padding: 10px;
    background: white;
    width: 120px;
    background: rgb(255, 255, 255);
    background: rgba(208, 84, 12, 0.85);
    color: white;
    margin-top: 30px;
    margin-bottom: 25px;
    cursor: pointer;
    border-radius: 3px;
}
.submit:hover, .submit:focus {
    background: green;
    color: white;
}
#fp-nav ul li a span.dark-theme {
    border: 1px solid #333;
    background: transparent;
}
#fp-nav ul li a.active span.dark-theme {
    background: #333;
}
.feedback-container {
    width: 70%;
    margin: auto;
    /*border: 0.3px dotted green;*/
    margin-top: 30px;
    position: relative;
    max-width: 400px;
}
.integers-small {
    display: none;
}
.feedback-text {
    padding: 10px;
    color: #fff;
    max-width: 300px;
    min-width: 225px;
    font-size: 28px;
    font-weight: 300;
    width: 80%;
    margin: auto;
    /*text-shadow: 4px 4px 0px rgba(51, 0, 255, 0.59), 7px 7px 0px rgba(218, 24, 51, 0.3), 9px 10px 0px rgba(218, 24, 24, 0.24);*/
    padding-right: 15px;
    color: rgba(202, 241, 14, 0.81);
    color: white;
    top: 10px;
    position: relative;
}
.media-img {
    height: 15px;
    width: 15px;
}
.facebook-img {
    background: url('../assets/images/media-light-facebook.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.dark-theme .facebook-img {
    background: url('../assets/images/media-dark-facebook.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.twitter-img {
    background: url('../assets/images/media-light-twitter.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.dark-theme .twitter-img {
    background: url('../assets/images/media-dark-twitter.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.googleplus-img {
	height: 16px;
	width: 16px;
    background: url('../assets/images/media-light-googleplus.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.dark-theme .googleplus-img {
	height: 16px;
	width: 16px;
    background: url('../assets/images/media-dark-googleplus.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#feature-footer {
    background: #191616;
}
.ft-1 {
    padding-bottom: 50px;
    font-size: 40px;
}
.sb-1 {
    padding-top: 40px;
    padding-bottom: 50px;
}
.store-image {
    height: 80%;
    background: yellow;
    display: table-cell;
}

textarea.materialize-textarea {
	min-height: 20px;
	height: 20px;
	color: rgba(255, 255, 255, 0.61);
}

#email {
	color: rgba(255, 255, 255, 0.61);
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #9e9e9e;
}

.input-field label {
	left: 0px;
}


@media (max-height: 900px) {
    .iphone {
        transform: scale(0.9)
    }
}

/* small desktops and laptops   */

@media (max-height: 800px) {
    body {
        font-size: 13px;
    }
    .link-img {
        width: 125px;
    }
    .header-links {
        width: 300px;
    }
}

/* mdpi laptops */

@media (max-height:800px) and (orientation: landscape) {
    .mobile {
        top: 30px;
        height: 97%;
    }
    #it-works {
        font-size: 40px;
    }
    .integers {
        font-size: 80px;
    }
    .iphone {
        transform: scale(0.8);
        background-size: 85%;
    }
}
@media (max-height:700px) and (orientation: landscape) {
    .iphone {
        min-height: 490px;
        height: 490px;
        background-size: 77%;
    }
}
@media (max-height:600px) and (orientation: landscape) {
    .iphone {
        min-height: 450px;
        height: 450px;
        background-size: 66%;
    }
}

/* portrait between normal tablet and  */

@media (max-width:800px) and (orientation: portrait) {
    .central {
        font-size: 30px;
    }
    #scroll-img {
        height: 25px;
    }
    .scroll-icon {
        bottom: 10px;
    }
}

/* tablet and mobile portrait*/

@media (max-width:800px) and (orientation:portrait) {
    body {
        font-size: 10px;
    }
    header {
        padding: 0px;
    }
    .app-links {
        width: 75px;
    }
    #header-content {
        width: 95%;
    }
    .header-title {
        width: 80px;
    }
    .info {
        display: none;
        opacity: 0;
    }
    .central {
        transform: translateY(0px);
        line-height: 1.5;
        font-size: 30px;
        opacity: 1;
    }
    .graphics-container {
        margin: 100px;
    }
    .graphic-li {
        display: table-row;
    }
    #it-works {
        font-size: 35px;
        top: 10px;
    }
    .mobile {
        top: 70px;
        width: 75%;
    }
    .mobile-section {
        transform: translateY(0px);
    }
    .iphone {
        opacity: 1;
    }
    .active .fp-slidesNav.bottom {
        opacity: 1;
    }
    .fp-slidesNav.bottom ul li a span {
        background: #fff;
    }
    .fp-slides .fp-tableCell {
        vertical-align: text-top;
        height: 25% !important;
    }
    .integers {
        font-size: 35px;
    }
    .custom-nav-horizontal {
        display: none;
    }
    .active .custom-nav-horizontal {
        display: none;
    }
    #fp-nav.right {
        display: none;
    }
    .fp-slides {
        display: block;
        height: 25%;
        background: rgba(238, 90, 36, 0.83);
        position: absolute;
        bottom: 0px;
    }
    .slide-sml-text {
        font-size: 20px;
        padding: 5px;
        font-weight: 100;
        padding-top: 10%;
        color: #fff;
        width: 80%;
        margin: auto;
        z-index: 100000000;
    }
    nav {
        padding: 3px;
    }
    .brand {
        height: 70%;
        font-family: 'Roboto Slab';
    }
    .app-store {
        margin-right: 5px;
    }
    .header-links {
        width: 170px;
        margin-top: 20px;
    }
    .link-img {
        width: 80px;
    }
    .social-list {
        display: none;
    }
    .footer-content {
        width: 90%;
    }
}

/* Finer refinemenets , minor breakpoint*/

@media (max-width:600px) and (orientation:portrait) {
    .graphics-container {
        margin: 40px;
        margin-bottom: 80px;
        margin-top: 80px;
    }

	.social-text {
		display: none;
	}
	.social-list {
		display: table-cell;
		width: 100px;
	}
}

/* only mobile portrait*/

@media (max-width: 400px) {
    .info-graphics {
        display: table;
        table-layout: fixed;
    }
    .graphics.fp-auto-height.fp-section {
        height: 100% !important;
    }
    .graphics-container {
        height: cal(100% - 60px);
        margin: 20px;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .integers.count {
        display: none;
    }
    .integers.count.integers-small {
        display: block;
    }
    .mobile {
        top: 5px;
    }
    .central {
        font-size: 25px;
    }
    .slide-sml-text {
        font-size: 16px;
    }
    .feedback-text {
        font-size: 24px;
    }
    footer {
        height: 40px;
    }
    .footer-content {
        width: 95%;
    }
    .footer-company-title {
		margin-left: 0px;
        font-size: 10px;
        font-weight: 100;
    }
}

/*@media (min-width: 1000px) {
    @media (max-height: 800px) {
        .fp-slidesNav.bottom {
            bottom: 50px;
        }
    }
}
@media (max-width: 1000px) {
    .header-title {
        width: 150px;
    }
    .social-extra {
        display: none;
    }
    .app-anchor {
        text-align: left;
        width: 130px;
        background-color: transparent display: inline-block;
        border-radius: 5px;
        position: relative;
        transition-property: background-color;
        transition-duration: 400ms;
    }
    .feat {
        font-size: 23px;
    }
    .feat-sml-text, .feat-sml-text-left {
        font-size: 14px;
    }
    .inner {
        height: 320px;
        width: 175px;
    }
    @media (orientation: landscape) {
        .test-mobile {
            top: 14%;
        }
        .fp-slidesNav.bottom {
            bottom: 30px;
            margin-left: -130px;
            display: none;
        }
    }
}
@media (max-width:600px) {
    #header-content {
        width: 96%;
    }
    #fp-nav.right {
        right: 10px;
    }
    .inner-scroll-feature p {
        font-size: 20px;
    }
    .header-title {
        width: 120px;
    }
    #it-works {
        font-size: 20px;
        position: absolute;
        top: 70px;
    }
    footer {
        height: 30px;
    }
    .footer-company-title {
        line-height: 30px;
        font-size: 10px;
    }
    .social-list {
        height: 30px;
        line-height: 30px;
        margin: 0px;
    }
    .inner {
        height: 280px;
        width: 160px;
    }
    .fp-slidesNav.bottom {
        position: absolute;
        bottom: 50px;
        display: none;
    }
    .footer-content {
        width: 96%;
    }
    .social-list {
        width: 100px;
    }
    .app-links {
        width: 130px;
        height: 60px;
        display: table-cell;
    }
    .app-anchor {
        text-align: left;
        width: 70px;
        background-color: transparent display: inline-block;
        border-radius: 5px;
        position: relative;
        transition-property: background-color;
        transition-duration: 400ms;
    }
}
.count {
    font-size: 40px;
}
*/
